<header>
  {{#link-to "index" class="logo"}}<b>TOURISTLY</b>ADMIN{{/link-to}}

  {{toggle-button}}

  <nav class="right-navbar">
    <div class="navbar-dropdown-wrapper">
      <div class="dropdown notifications-menu">
        {{notification-dropdown}}
      </div>
      <div class="dropdown profile-menu">
        {{profile-dropdown}}
      </div>
    </div>
  </nav>
</header>
