header {
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  background-color: $tly-pink;

  a:hover {
    text-decoration: none;
  }
}

.right-navbar {
  background-color: $tly-pink;
  align-self: flex-end;
  margin-right: 25px;
  margin-left: auto;
  line-height: $navbar-height;
}

.logo {
  color: white;
  background-color: $tly-dark-pink;
  display: block;
  height: $navbar-height;
  font-size: 20px;
  line-height: $navbar-height;
  text-align: center;
  width: 230px;
  font-family: $body-font;
  padding: 0 15px;
  font-weight: 300;
}

.sidebar-toggle {
  background-color: transparent;
  padding: 15px;
  color: white;
  font-family: fontAwesome;
  line-height: $navbar-height;

  &:before {
    content: "\f0c9";
  }
}

/*
 * Notification Dropdowns
 */
.navbar-dropdown-wrapper {
  .dropdown {
    display: inline-block;

    &:hover {
      background-color: $tly-dark-pink;
    }
  }

  .dropdown-toggle {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.notifications-menu,
.profile-menu {
  .dropdown-menu {
    border-radius: 0px;
  }
}

.notifications-menu {

}

.profile-menu {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
