header {
  display: flex;
  height: $navbar-height;
  background-color: $tly-pink;

  a:hover {
    text-decoration: none;
  }
}

.navbar {
  background-color: $tly-pink;
  align-self: flex-end;
}

.logo {
  color: white;
  background-color: $tly-dark-pink;
  display: block;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: $body-font;
  padding: 0 15px;
  font-weight: 300;
}

.sidebar-toggle {
  color: white;
  background-color: transparent;
  background-image: none;
  padding: 15px;
  font-family: fontAwesome;
}

.sidebar-toggle:before {
  content: "\f0c9";
}

.navbar {
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
}

.navbar-custom-menu, .navbar-right {
  margin-right: 5px;
}

.notifications-menu {

}

.user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
