.search-form {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  input, button {
    height: 35px;
    border: none;
    background-color: darken($tly-pink, 30%);
  }

  input {
    border-radius: 4px 0px 0px 4px;
    color: white;

    &:focus {
      background-color: white;
      color: darken($tly-pink, 30%);
    }
  }

  button {
    border-radius: 0px 4px 4px 0px;
    /*background-color: darken($tly-pink, 30%);*/
  }

  button > i {
    color: white;
  }
}
