.sidebar-menu-block {
  label {
    display: block;
    padding: 10px;
    background-color: darken($tly-pink, 20%);
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}
